<div class = "container">
  <div class = "row my-5">
    <div class = "mx-auto">
      <h1 class = "text-primary">楽しみ方</h1>
    </div>
  </div>
  <div class = "row my-5">
    <div class = "mx-auto">
      <p>今日あった出来事や思い出を投稿し、みんなに見てもらいましょう！<br>
        無料で公開したいときはノーマル投稿を、有料で公開したいときはスペシャル投稿を選択し、自由に投稿しよう！<br>
        投稿していくうちに溜まっていくポイントを使い、みんなの投稿を購入しよう！<br>
        上のロゴをタップするとフォローしているユーザーの投稿や検索ができるよ！
      </p>
    </div>
  </div>
</div>