<div class = "container">
  <div class = "row mt-5">
    <div class = "offset-md-1">
      <div class = "row">
        <div class = "col-md-6">
          <h1 class = "text-success">新規投稿画面</h1>
        </div>
        <div class = "col-md-6">
          <ul class="nav nav-tabs">
            <li class="nav-item w-100 text-center">
              <a href="#normal" class="nav-link text-success" data-toggle="tab">ノーマル投稿</a>
            </li>
            <li class="nav-item w-100 text-center">
              <a href="#special" class="nav-link text-success" data-toggle="tab">スペシャル投稿</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class = "row mt-5">
    <div class = "offset-md-2">
      <div class="tab-content">
        <%= render 'users/template/normal_posts_new', post: @post %>
        <%= render 'users/template/special_posts_new', post: @post %>
      </div>
    </div>
  </div>
</div>