<div class = "container">
  <div class = "row">
  	<div class = "offset-md-3">
  	  <% @users.each do |user| %>
  	    <%= link_to user_path(user.user.id) do %>
  	      <% if user.user.image? %>
  	        <%= image_tag asset_path(user.user.image.url), :size => '100x100' %>
  	      <% else %>
  	        <%= image_tag asset_path('no_image.jpg'), :size => '100x100' %>
  	      <% end %>
  	      <%= user.user.name %>
  	    <% end %>
  	  <% end %>
  	</div>
  </div>
</div>