<div class = "container">
  <div class = "row">
  	<div class = "offset-md-3">
	  <% @users.each do |user| %>
	    <div class = "row mb-3">
          <%= link_to user_path(user.id) do %>
            <% if user.image? %>
              <%= image_tag asset_path(user.image.url), :size => '100x100' %>
            <% else %>
              <%= image_tag asset_path("/assets/no_image.jpg"), :size => '100x100' %>
            <% end %>
            <%= user.name %>
          <% end %>
	    </div>
      <% end %>
  	</div>
  </div>
</div>