<div class = "container">
  <div class = "row">
    <%= render 'users/template/myprofile_users_show', user: @user %>
  </div>
  <div class = "row mb-5">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a href="#posts" class="nav-link" data-toggle="tab">投稿</a>
      </li>
      <li class="nav-item">
        <a href="#comments" class="nav-link" data-toggle="tab">返信</a>
      </li>
      <li class="nav-item">
        <a href="#favorites" class="nav-link" data-toggle="tab">いいね</a>
      </li>
    </ul>
  </div>
  <div class = "row">
    <div class="tab-content w-100">
      <div id="posts" class="tab-pane active w-100">
        <div class = "col-md-12">
          <%= render 'users/template/myposts_users_show', posts: @posts %>
        </div>
      </div>
      <div id="comments" class="tab-pane w-100">
        <div class = "col-md-12">
          <%= render 'users/template/mycomments_users_show', post_comments: @post_comments %>
        </div>
      </div>
      <div id="favorites" class="tab-pane w-100">
        <div class = "col-md-12">
          <%= render 'users/template/myfavorites_users_show', favorite_posts: @favorite_posts %>
        </div>
      </div>
    </div>
  </div>
</div>