<div class = "container">
  <div class = "row mt-5">
    <div class = "col-md-12">
      <div class = "posts w-100 mb-1" style ="background-color:#cbffd3;border:1px solid limegreen;">
        <%= render 'template/posts_show', post: @post %>
      </div>
    </div>
  </div>
  <div class = "row mt-5">
    <div class = "col-md-12">
      <%= render 'template/comment_posts_show', post: @post %>
    </div>
  </div>
</div>