<div class = "container">
  <div class = "row mt-5">
  	<div class = "offset-md-1">
  	  <h1 class = "text-success">購入確認画面</h1>
  	</div>
  </div>
  <div class = "row mt-5">
  	<div class = "col-md-12">
  	  <div class = "posts w-100 mb-1" style ="background-color:#cbffd3;border:1px solid limegreen;">
  	  	<%= render 'template/orders_confilm', post: @post %>
  	  </div>
  	</div>
  </div>
  <div class = "row mt-5">
  	<div class = "offset-md-1">
  	  <h1 class = "text-success">ポイント会計</h1>
  	</div>
  </div>
  <div class = "row mt-5">
  	<div class = "offset-md-2">
  	  <h3>現在のポイント：<%= @user.point %></h3>
  	</div>
  </div>
  <div class = "row mt-5">
  	<div class = "offset-md-2">
  	  <%= render 'template/payment_calc_orders_confilm', user: @user, post: @post %>
  	</div>
  </div>
</div>