<div class = "container">
  <div class = "row mt-5">
  	<div class = "offset-md-1">
  	  <h1 class = "text-success">残高</h1>
  	</div>
  </div>
  <div class = "row mt-5" style = "background-color:#cbffd3">
  	<div class = "mx-auto">
	  	<h3><%= @user.point %>¥</h3>
  	</div>
  </div>
  <div class = "row mt-5">
  	<div class = "offset-md-1">
  	  <h1 class = "text-success">購入履歴</h1>
  	</div>
  </div>
  <div class = "row mt-5">
  	<div class = "col-md-12">
	  	<%= render 'users/template/orders_index', orders: @orders %>
    </div>
  </div>
</div>
