<div class="dropdown">
  <button type="button" class="btn btn-success dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete, "data-confirm" => "本当に消しますか？" %>
    <%= link_to "報告取消", admins_cancel_comment_report_path(post_comment.post, post_comment), method: :patch, "data-confirm" => "報告を取り消しますか？" %>
  </div>
</div>