<% posts.each do |post| %>
  <div class = "posts w-100 mb-1" style ="background-color:#cbffd3;border:1px solid limegreen;">
    <% if post.value == 0 %>
      <%= render 'admins/template/normal_posts_index', post: post %>
    <% else %>
      <%= render 'admins/template/special_posts_index', post: post %>
    <% end %>
    <div class = "row">
      <div class = "offset-md-11">
        <%= render 'admins/template/dropdown_posts_index', post: post %>
      </div>
    </div>
  </div>
<% end %>