<% post_comments.each do |post_comment| %>
            <div class = "posts w-100 mb-1" style ="background-color:#cbffd3;border:1px solid limegreen;">
              <% if post_comment.post.value == 0 %>
                <%= render 'template/normal_mycomments_users_show', post_comment: post_comment %>
              <% else %>
                <%= render 'template/special_mycomments_users_show', post_comment: post_comment %>
              <% end %>
              <div class = "row">
                <div class = "offset-md-11">
                  <%= render 'template/dropdown_mycomments_users_show', post_comment: post_comment %>
                </div>
              </div>
            </div>
          <% end %>