<div class = "container">
  <div class = "row pt-5">
    <div class = "col-md-12">
      <%= render 'template/searches_users', users: @users %>
    </div>
  </div>
  <div class = "row mt-5">
    <div class = "col-md-12">
      <%= render 'template/seaches_posts', posts: @posts %>
    </div>
  </div>
</div>